# Dependencies
node_modules/

# Build output
dist/

# Local env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Logs
*.log
npm-debug.log*
